.volume {
  width: 100vw;
  height: 100vh;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: antiquewhite;
  font-family: 'Roboto';
}
